<h1>Main DBZ page</h1>
<hr />

<div class="row">
  <div class="col">
    <!-- enviando datos del main page ts al componente list ts -->
    <dbz-list
      [personaje]="characters"
      (onDeleteHero)="onDeleteCharacter($event)"
    ></dbz-list>
  </div>
  <div class="col">
    <!-- () son eventos [] son atributos -->
    <!-- escuchar si hay cambios en otros ts gracias a la emision de datos desde add character-->
    <dbz-add-character
      (onNewCharacter)="onNewCharacter($event)"
    ></dbz-add-character>
  </div>
</div>
