<h1>Main DBZ page</h1>
<hr />

<div class="row">
  <div class="col">
    <!-- enviando datos del main page ts al componente list ts -->
    <dbz-list [personaje]="dbzService.charactersArray" (emisorIndice)="dbzService.borrarCharacter($event)"></dbz-list>
  </div>
  <div class="col">
    <!-- () son eventos [] son atributos -->
    <!-- escuchar si hay cambios en otros ts gracias a la emision de datos desde add character-->
    <dbz-add-character (onNewCharacter)="dbzService.onNewCharacter($event)"></dbz-add-character>
  </div>
</div>
